{% extends 'base.html' %}

{% block content %}

<br><br>
<div class='row'>
       <div class='col-4'>
       <img src='{{ Product.icon.url }}' class='img-fluid'/>
       </div>

       <div class='col-8'>
       <a href='{{ Product.url }}'><h1>{{ Product.title }}</h1> </a>
       </div>


<div class='row pt-2'>
        <br/>
        <br/>
       <div class='col-7'>
       <img src='{{ Product.image.url }}' class='img-fluid'/>
       </div>

       <div class='col-4'>
       <a href="javascript:{document.getElementById('upvote').submit()}"><button class='btn btn-primary btn-lg btn-block'>upvote {{ Product.votes_total}}</button></a>
       </div>

<div class='row'>
        <br><br><br/>
       <div class='col-4 '>
       <h4>hunted by {{ Product.hunter.username }}</h4>
       </div>

       <div class='col-4 text-right'>
       <h4>{{ Product.pub_dated }}</h4>
       </div>
<br/>
<br/>

<div class='row'>
        <br><br><br/>
       <div class='col-8 '>
       <p> {{ Product.body }}</p>
       </div>
<br/>
<br/>

<form id='upvote' method='POST' action='{% url 'upvote' Product.id %}'>
{% csrf_token %}
<input type='hidden'/>
</form>
{% endblock %}